body {
    margin: 0;
    font-family: Potta One;
   
  }
  
  /*導航欄*/
  .navbar {
    font-size: 30px;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: #fff9c4;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  li a {
    display: block;
    color: #cbc693;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  li a.active {
    background-color: #cbc693;
    color: #fff9c4;
  }
  
  li a:hover:not(.active) {
    background-color: #fffff7;
    color: #cbc693;
  }
  
  /*下拉菜單*/
  .dropbtn {
    display: inline-block;
    color: #cbc693;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #fffff7;
  }
  
  li.dropdown {
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff9c4;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: #cbc693;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {background-color: #fff9c4;}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .h1 {
    font-family: 'Italianno';
    background-color: #fff9c4;
    color: #cbc693;
    font-size: 80px;
    text-align: center;
    border-color: #cbc693;
    border-width: 8px;
    border-style: solid;
    margin-left: 60px;
    margin-right: 60px;
   
  }
  
  .pre {
    background-color: #fff9c4;
    color: #cbc693;
    font-size: 40px;
    font-family: Potta One;
    text-align: center;
    border-color: #cbc693;
    border-width: 8px;
    border-style: solid;
    border-radius: 1em;
    margin-top: 47px;
    margin-left: 200px;
    margin-right: 200px;
    padding: 20px 20px 20px 20px;
  }
  
  .header {
    background-color: #fff9c4;
    padding: 16px;
    text-align: center;
    font-family: Potta one;
    color: #cbc693;
    position: sticky;
    top: 0;
  }
  
  
  .footer {
    background-color: #fff9c4;
    color: #cbc693;
    padding: 10px;
    text-align: center;
  }